.post {
    margin-bottom: 20px;
}

.post-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.post-top-left {
    display: flex;
    align-items: center;
}

.post-img {
    height: 50px;
    width: 50px;
}

.post-user {
    margin-left: 20px;
}

.post-user-1 a {
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 900;
    color: black;
}

.post-user-2 {
    color: rgb(100, 100, 100);
    font-size: 13px;
}

.post-top-right {
    position: relative;
}

.post-options {
    font-size: 22px;
}

.post-options i {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-option-box {
    position: absolute;
    top: -10px;
    right: 0px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    border-radius: 20px;
    padding: 20px;
}

.post-option {
    display: flex;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 30px;
}

.post-option:hover {
    background: rgb(246, 246, 246);
}

.post-option i {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.post-mid-content a {
    color: #1778F2;
    font-weight: 700;
}

.post-mid-content a i {
    font-size: 14px;
}

.post-mid-file {
    margin-top: 20px;
    border-radius: 30px;
    overflow: hidden;
    height: fit-content;
}

.post-bot {
    display: flex;
    justify-content: space-between;
}

.post-bot-left {
    display: flex;
}

.post-bot-right {
    display: flex;
}

.post-bot-option {
    color: rgb(100, 100, 100);
    display: flex;
    align-items: center;
    margin-right: 5px;
    padding: 8px 12px;
    background: rgb(246, 246, 246);
    border-radius: 15px;
    font-weight: 700;
    transition: 0.3s;
}

.post-like:hover {
    background-color: rgb(242, 23, 23, 0.05);
    color: rgb(242, 23, 23);
}

.post-comment:hover {
    background-color: rgb(23, 92, 242, 0.05);
    color: rgb(23, 92, 242);
}

.post-save:hover {
    background-color: rgb(23, 242, 23, 0.05);
    color: rgb(23, 242, 23);
}

.post-bot-option i {
    margin-right: 5px;
}